@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-family: Fraunces;
}

h1,
p,
li {
  font-family: Barlow;
}

h1,
h2,
h3,
p,
a {
  padding: 0;
  margin: 2% 0;
}

h2 {
  font-size: 34px;
  color: #23303e;
  z-index: 99;
}

p {
  font-size: 16px;
  line-height: 26px;
  color: #818498;
  z-index: 99;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  position: relative;
  z-index: 99;
  color: #19536b;
}
a::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: -2;
}
a:hover::after {
  height: 10px;
  width: 110px;
  border-radius: 20px;
  background: #fad400;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
  z-index: 101;
}
nav li {
  text-decoration: none;
  display: inline-block;
  padding: 10px 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  background: rgba(25, 83, 107, 0.712);
  border-radius: 20px;
}
nav li:hover {
  color: #19536b;
  background: #fff;
  border-radius: 20px;
}

h1 {
  color: #fff;
  text-align: center;
  position: absolute;
  position: fixed;
  font-weight: 900;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 2%;
  z-index: 101;
}

svg {
  text-align: center;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 5%;
  z-index: 101;
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
}
.main__bgImage {
  width: 100%;
  height: 100%;
}
.main h2 {
  color: #fff;
  text-align: center;
  position: absolute;
  font-size: 3rem;
  top: 200px;
}

.middleSct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
}
.middleSct div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.middleSct h2,
.middleSct p,
.middleSct a {
  width: 60%;
}
.middleSct .middleSct__3-1,
.middleSct .middleSct__3-2 {
  position: relative;
}
.middleSct .x {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width: 90%;
}
.middleSct .x h3 {
  font-size: 24px;
}

.clients {
  margin-bottom: 6%;
}
.clients__comments {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.clients__comments div {
  max-width: 350px;
  position: relative;
  z-index: 99;
}
.clients__comments h4,
.clients__comments p {
  text-align: center;
}
.clients__comments h4 {
  color: #23303e;
}
.clients__comments img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
  height: 100%;
  position: relative;
}
.images div {
  width: 400px;
  height: 200px;
}
.images img {
  width: 100%;
  object-fit: cover;
}

.footer {
  background: #81c1b4;
  height: 300px;
  width: 100vw;
  position: relative;
}
.footer h2 {
  text-align: center;
  padding-top: 4%;
}
.footer .links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 80px;
}
.footer .links p {
  color: #19536b;
  font-weight: 500;
  cursor: pointer;
}
.footer .links p:hover {
  color: #fff;
}
.footer .socials {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 30px;
  padding: 1% 0;
}

@media only screen and (max-width: 375px) {
  body,
html {
    overflow-x: hidden;
  }

  .open {
    display: block;
  }

  nav {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: translateY(100px);
    text-align: center;
    height: 27%;
    z-index: 101;
    background: #fff;
  }
  nav ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
  }
  nav li {
    transform: translateX(-18px);
    color: #19536b;
    background: none;
  }
  nav li:hover {
    color: #19536b;
    background: #fad400;
    border-radius: 20px;
    width: max-content;
    margin: 0 auto;
  }

  h1 {
    font-size: 26px;
    margin: 3%;
  }

  svg {
    display: block;
  }

  .middleSct {
    display: flex;
    flex-flow: column nowrap;
  }
  .middleSct div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  .middleSct h2,
.middleSct p,
.middleSct a {
    text-align: center;
    width: 95%;
    padding: 20px 4px;
  }
  .middleSct img {
    width: 100vw;
  }
  .middleSct .middleSct__1-1 {
    order: 1;
  }
  .middleSct .middleSct__2-1 {
    order: 2;
  }
  .middleSct .middleSct__2-2 {
    order: 3;
  }
  .middleSct .middleSct__2-3 {
    order: 4;
  }
  .middleSct .middleSct__3-1,
.middleSct .middleSct__3-2 {
    order: 6;
  }

  .clients {
    margin-bottom: 12%;
  }
  .clients__comments {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
  }
  .clients img {
    max-width: 100px;
  }

  .images {
    display: flex;
    flex-flow: row wrap;
  }
  .images div {
    height: 400px;
  }

  .footer h2 {
    padding-top: 15%;
  }
  .footer .links {
    gap: 50px;
    padding-top: 5%;
  }
  .footer .links p {
    color: #19536b;
    font-weight: 500;
    cursor: pointer;
  }
  .footer .links p:hover {
    color: #fff;
  }
  .footer .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    padding: 1% 0;
  }
  .footer .socials img {
    padding-top: 15%;
  }
}

/*# sourceMappingURL=styles.css.map */
