@import "./utilities/vars";
@import "./utilities/reset";

h2 {
  font-size: 34px;
  color: hsl(212, 27%, 19%);
  z-index: 99;
}
p {
  font-size: 16px;
  line-height: 26px;
  color: hsl(232, 10%, 55%);
  z-index: 99;
}
a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  position: relative;
  z-index: 99;
  color: $text-color;
  &::after {
    position: absolute;
    content: "";
    bottom: -2px;
    left: 0;
    right: 0;
    z-index: -2;
  }
  &:hover::after {
    height: 10px;
    width: 110px;
    border-radius: 20px;
    background: hsl(51, 100%, 49%);
  }
}
nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 2%;
  z-index: 101;
  li {
    text-decoration: none;
    display: inline-block;
    padding: 10px 25px;
    color: $text-color2;
    font-size: 16px;
    cursor: pointer;
    background: hsla(198, 62%, 26%, 0.712);
    border-radius: 20px;
    &:hover {
      color: $text-color;
      background: $text-color2;
      border-radius: 20px;
    }
  }
}

h1 {
  color: $text-color2;
  text-align: center;
  position: absolute;
  position: fixed;
  font-weight: 900;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 2%;
  z-index: 101;
}
svg {
  text-align: center;
  position: absolute;
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  margin: 5%;
  z-index: 101;
  display: none;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  &__bgImage {
    width: 100%;
    height: 100%;
  }
  h2 {
    color: $text-color2;
    text-align: center;
    position: absolute;
    font-size: 3rem;
    top: 200px;
  }
}

.middleSct {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
  h2,
  p,
  a {
    width: 60%;
  }
  .middleSct__3-1,
  .middleSct__3-2 {
    position: relative;
  }
  .x {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 90%;
    h3 {
      font-size: 24px;
    }
  }
}

.clients {
  margin-bottom: 6%;
  &__comments {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    div {
      max-width: 350px;
      position: relative;
      z-index: 99;
    }
    h4,
    p {
      text-align: center;
    }
    h4 {
      color: hsl(212, 27%, 19%);
    }
    img {
      border-radius: 50%;
      display: block;
      margin: 0 auto;
    }
  }
}
.images {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100vw;
  height: 100%;
  position: relative;
  div {
    width: 400px;
    height: 200px;
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}

.footer {
  background: lighten(hsl(168, 34%, 41%), 22%);
  height: 300px;
  width: 100vw;
  position: relative;
  h2 {
    text-align: center;
    padding-top: 4%;
  }
  .links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 80px;
    p {
      color: $text-color;
      font-weight: 500;
      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }
  }
  .socials {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
    padding: 1% 0;
  }
}

@media only screen and (max-width: 1024px) {
  body,
  html {
    overflow-x: hidden;
  }

  .open {
    display: block;
  }
  nav {
    display: none;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    transform: translateY(100px);
    text-align: center;
    height: 27%;
    z-index: 101;
    background: #fff;
    ul {
      display: flex;
      flex-flow: column nowrap;
      gap: 10px;
    }
    li {
      transform: translateX(-18px);
      color: $text-color;
      background: none;
      &:hover {
        color: $text-color;
        background: hsl(51, 100%, 49%);
        border-radius: 20px;
        width: max-content;
        margin: 0 auto;
      }
    }
  }

  h1 {
    font-size: 26px;
    margin: 3%;
  }
  svg {
    display: block;
  }
  .middleSct {
    display: flex;
    flex-flow: column nowrap;
    div {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
    }
    h2,
    p,
    a {
      text-align: center;
      width: 95%;
      padding: 20px 4px;
    }
    img {
      width: 100vw;
    }
    .middleSct__1-1 {
      order: 1;
    }
    .middleSct__2-1 {
      order: 2;
    }
    .middleSct__2-2 {
      order: 3;
    }
    .middleSct__2-3 {
      order: 4;
    }
    .middleSct__3-1,
    .middleSct__3-2 {
      order: 6;
    }
  }

  .clients {
    margin-bottom: 12%;
    &__comments {
      display: flex;
      flex-flow: column wrap;
      gap: 10px;
    }
    img {
      max-width: 100px;
    }
  }
  .images {
    display: flex;
    flex-flow: row wrap;
    div {
      width: 100%;
      height: 400px;
    }
  }
  .footer {
    h2 {
      padding-top: 15%;
    }
    .links {
      gap: 50px;
      padding-top: 5%;

      p {
        color: $text-color;
        font-weight: 500;
        cursor: pointer;
        &:hover {
          color: #fff;
        }
      }
    }
    .socials {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      gap: 30px;
      padding: 1% 0;
      img {
        padding-top: 15%;
      }
    }
  }
}
